<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}" \>
    <title>Homepage</title>
</head>

<body>
    <div>
        <th:block th:replace="~{ fragments :: navbar}" \>
    </div>
    <div class="justify-content-center d-flex flex-column text-center align-items-center">
        <h3 class="pt-3">Best of the year by</h3>
        <h1 class="px-3 text-dark pt-3"><span th:text="${name}"></span> <span th:text="${surname}"></span> della
            classe
            <span th:text="${class}"></span>
        </h1>
        <div class="container pt-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius adipisci eveniet facere, harum at
                obcaecati
                rem odio magnam ea repudiandae aliquid soluta consequuntur eligendi, incidunt commodi. Tempore
                provident
                facere obcaecati.
                Quod quisquam dolor veritatis in, perspiciatis beatae consequuntur at explicabo animi. Sapiente vel
                labore architecto velit molestiae dolor dignissimos totam. Harum libero sint pariatur sequi, cum
                eius
                praesentium unde recusandae.
                Animi harum perspiciatis eligendi atque recusandae quod unde nulla totam officiis corporis ratione,
                iure, sunt molestias aspernatur omnis veritatis repellendus fugiat rerum dolore. Rem corrupti totam
                enim, consequuntur quibusdam praesentium.</p>
        </div>

    </div>
</body>

</html>