<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}">
    <title>Movies page</title>
</head>

<body>
    <div>
        <th:block th:replace="~{ fragments :: navbar}"></th:block>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <h1 class="p-5">Best Movies</h1>
        <table class="table">
            <tbody>
                <tr th:each="movie : ${movies}">
                    <td class="fs-3 text-center"><a th:href="@{/movies/{id}(id=${movie.getId()})}"
                            class="text-dark text-decoration-none" th:text="${movie.getTitle()}"></a></td>
                </tr>
                <p th:unless="${movies.size() > 0}" class="fs-3">Nessun film nella lista</p>
            </tbody>
        </table>
    </div>
</body>

</html>