<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:replace="~{ fragments :: bootstrap}" \>
    <title>Show a song</title>
</head>

<body>
    <div>
        <th:block th:replace="~{ fragments :: navbar}" \>
    </div>
    <div th:if="${song != null}">
        <h1 th:text="${song.getTitle()}"></h1>
        <h4 class="text-dark py-5 px-3"><span th:text="${song.toString()}"></span></h4>
    </div>
    <div th:if="${song == null}">
        <p class="fw-bold fs-4" th:text="'Nessuna canzone trovata con id: ' + ${id}"></p>
    </div>
</body>

</html>